# Dependencies
node_modules/
*/node_modules/

# Production builds
dist/
build/
*/dist/

# Environment variables
.env
.env.local
*.env

# OS / Logs / Archives
.DS_Store
*.zip
*.tar.gz
uploads/
*/uploads/
.vite/
*/.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
